@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

#logo {
	display: block;
	float: left;
	width: 150px;
	height: 150px;
}

.top-wrap {
	width: 1080px;
	margin: 0 auto;
}

.top {
	display: flex;
	float: right;
}

.top>li>a {
	display: inline-block;
	width: 100px;
	color: black;
	text-align: center;
	height: 60px;
	line-height: 60px;
}

nav {
	width: 1080px;
	margin: 0 auto;
}

.menu-bar {
	clear: both;
	display: flex;
	width: 1080px;
	margin: 0 auto;
}

.menu-bar>li>a, .depth1>li>a {
	display: inline-block;
	width: 180px;
	height: 60px;
	line-height: 60px;
	background: gray;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: black;
}
.depth1{
	position: absolute;
	z-index: 2;
}
.depth1>li {
	display: none;
}

.menu-bar>li:hover>.depth1>li {
	display: block;
}

.body-wrap {
	width: 1080px;
	margin: 0 auto;
}

.footer {
	display: grid;
	background: black;
	padding: 5px;
	grid-template-rows: 50px 120px;
	grid-template-columns: 40% 30% 30%;
	align-items: center;
	width: 1080px;
	margin: 0 auto;
}

.footer>div, .footer-title {
	color: white;
	margin-left: 10px;
}

.footer-title {
	grid-column: span 3;
}

.footer>div {
	padding: 15px 0;
}

.company, .customer-center {
	border-right: 1px solid white;
}